DATABASE_URL=mongodb+srv://username:password@cluster0.xxxxx.mongodb.net/?retryWrites=true&w=majority
GOOGLE_APPLICATION_CREDENTIALS=./your-service-account.json
REDIS_HOST=redis-xxxxx.xxxxx.us-central1-mz.gcp.cloud.rlrcp.com
REDIS_PORT=10811
REDIS_PASSWORD=your_redis_password
CLERK_PUBLISHABLE_KEY=pk_live_xxxxx
CLERK_PUBLISHABLE_KEY_DEV=pk_test_xxxxx
CLERK_SECRET_KEY=sk_live_xxxxx
CLERK_SECRET_KEY_DEV=sk_test_xxxxx
EVENT_TRACKING_DATABASE_URL=postgresql://postgres.xxxxx:password@aws-0-us-east-2.pooler.supabase.com:6543/postgres
ARCTEN_API_KEY=sk_proj_xxxxx
NODE_ENV=development
CLAUDE_API_KEY=sk-ant-api03-xxxxx
OPENAI_API_KEY=sk-proj-xxxxx
